<div class="header">
    <div class="links">
        <img class="logo" src="../../../assets/logo.png" alt="">
        <div class="links__item">ПРИХОД</div>
        <div class="links__item">РАСХОД</div>
        <div class="links__item">ИТОГ</div>
        <div class="links__item">СТАТИСТИКА</div>
    </div>

    <div class="login">
        <i class="fas fa-user login__img"></i>
    </div>
</div>